.App {
  /* text-align: center; */
  font-family: 'Jua', sans-serif;
  padding-top:50px;
  padding-left: 350px;
  padding-right: 350px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
